.App {
  background: black;
  font-family: "Netflix Medium";
  font-weight: bold;
  padding-left: 50px;
  padding-top: 40px;
}

.container {
  display: flex;
  flex-direction: column;
}

.logo {
  height: 25px;
  width: 100px;
  margin-bottom: 40px;
}

.title {
  color: white;
  font-size: 20px;
}

.thumbnails {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-bottom: 25px;
}

.thumbnails::-webkit-scrollbar {
  display: none; /*Chrome */
}

.img {
  width: 220px;
  height: 124px;
}
